.destruction {
    vertical-align: middle;
    font-size: 0.8em;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.inline-input {
	height: 24px;
	width: 50px;
}

span.playerTag {
    font-size: 100%;
    position: absolute;
    right: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
}