body {
    padding-top: 70px;
}
.destruction {
    vertical-align: middle;
    font-size: 0.8em;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.clearfix{
    clear:both;
}

.inline-input {
	height: 24px;
	width: 50px;
}

span.playerTag {
    font-size: 100%;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100px;
    float:right;
}

li.list-group-item.attack {
    background-color: #dff0d8;
    border-bottom: 2px solid #FFF !important;
}

li.list-group-item.defense {
    background-color: #f2dede;
    border-bottom: 2px solid #FFF !important;
}

/* navbar styling */

.label,.fa,.glyphicon {
    margin: auto 5px;
}
